# ==============================================================================
# CAMBODIA CPI PIPELINE ENVIRONMENT CONFIGURATION
# ==============================================================================

# PostgreSQL Warehouse Connection (Application & dbt)
DB_HOST=postgres
DB_PORT=5432
DB_USER=cpi_user
DB_PASS=cpi_pass
DB_NAME=cpi_db

# PostgreSQL Superuser / Init Settings
POSTGRES_USER=cpi_user
POSTGRES_PASSWORD=cpi_pass
POSTGRES_DB=cpi_db


# Airflow Infrastructure Configuration
AIRFLOW_IMAGE_NAME=cpi-airflow:2.9.3-simple
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow

# dbt Profiles Location
DBT_PROFILES_DIR=/opt/airflow/dbt

# Metabase Analytics UI
METABASE_PORT=3000
MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase
MB_DB_PORT=5432
MB_DB_USER=metabase
MB_DB_PASS=metabase
MB_DB_HOST=postgres

# Scraper Settings
AEON_MAX_PAGES=0

